* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.02em;
}

a {
  font-size: 18px;
  line-height: 20px;
  color: #8492a6;
  text-decoration: none;
  padding-bottom: 16px;
  padding-top: 20px;
}
ol {
  list-style-type: none;
  margin-left: 300px;
  margin-right: 300px;
}

li {
  margin: 300px auto;
  justify-content: center;
}
.lost {
  display: flex;
  justify-content: center;
}
/* .lost::after {
  content: "";
  display: block;
  clear: left; 
 } */
.Dazzler {
  float: left;
  margin-right: 5px;
}
.Miyu {
  float: left;
  margin-right: 5px;
}
.Piedra {
  float: left;
  margin-right: 5px;
}
.Sometime {
  float: left;
  margin-right: 5px;
  font-weight: bold;
  color: rgb(39, 124, 193);
  border-bottom: 3px solid rgb(41, 156, 162);
}
