img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid black;
  margin-bottom: -120px;
}

a:hover {
  text-decoration: underline;
  background-color: antiquewhite;
}

#today-goal {
  color: rgb(29, 29, 116);
  font-size: 32px;
  font-weight: 700;
}
ol {
  background-color: aqua;
  border: 3px solid black;
  list-style-type: none;
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 100px;
  padding-bottom: 40px;
}
